*.pyc
*.egg-info
.DS_Store
.idea/
.tox/
.eggs/
dist/
build/
.env
.venv
venv
local.sqlite
.coverage
htmlcov/
.python-version
!djangocms_versioning/static/djangocms_versioning/js/dist
docs/_build/
node_modules
coverage-e2e/
.nyc_output/
playwright-report/
test-results/
