include LICENSE.txt
include README.rst
recursive-include djangocms_versioning/static *
recursive-include djangocms_versioning/templates *
recursive-include djangocms_versioning/locale *
recursive-exclude * *.pyc
