# test libraries
coverage
pyflakes>=2.1.1
flake8
isort
mock
python-dateutil
beautifulsoup4
django-classy-tags<2.0.0
django-sekizai<2.0.0

# Get the lastest cms v4 compatible djangocms-text-ckeditor
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
