beautifulsoup4
coverage
django-classy-tags<2.0.0
django-sekizai<2.0.0
djangocms_helper
flake8
isort
mock
pyflakes>=2.1.1
python-dateutil

# Unreleased dependancies
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
