{% extends versioning_fallback_change_form_template|default:"admin/change_form.html" %}
{% load i18n cms_admin static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static "djangocms_versioning/js/admin/versioning.js" %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "djangocms_versioning/css/object-tools.css" %}">
{% endblock %}

{% block object-tools-items %}
    {% if content_instance %}
        {% include "admin/djangocms_versioning/object_tools.html" %}
    {% endif %}
    {{ block.super }}
{% endblock %}
