/*-------------------------------------
Classes for Action btn & Burger menu
---------------------------------------*/

a.btn.cms-versioning-action-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: -12px !important;
    position: relative;
    bottom: -6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
}

a.btn.cms-versioning-action-btn span
{
    font-family: django-cms-iconfont;
    font-size: 120%;
}

a.btn.cms-versioning-action-btn img {
    width: 20px;
    height: 20px;
}

a.btn.cms-versioning-action-btn.inactive:link,
a.btn.cms-versioning-action-btn.inactive:visited {
    color: var(--dca-gray-lighter, var(--border-color, #ccc))  !important;
}


/* disable clicking for inactive buttons */
.btn.cms-versioning-action-btn.inactive {
    pointer-events: none;
}

.btn.cms-versioning-action-btn.inactive img {
    opacity: 0.5;
}

/* set size and spacing between for the action icons */
a.btn.cms-versioning-action-btn img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}


/*-------------------------------------
This governs the drop-down behaviour
extending the pagetree classes provided by CMS
---------------------------------------*/

.cms-actions-dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: -1px;
    z-index: 1000;
    min-width: 180px;
    margin: 0;
    padding: 0 !important;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Dropdown menu shadow */
.cms-actions-dropdown-menu::before {
    content: "";
    position: absolute;
    left: 100%;
    z-index: -1;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
  }

.cms-actions-dropdown-menu.open {
    display: block;
    width: 200px;
}

.cms-actions-dropdown-menu.closed {
    display: none;
}

.cms-actions-dropdown-menu-arrow-right-top::before {
    top: 16px;
}

/* add shadow on burger menu trigger */
a.btn.cms-versioning-action-btn:hover, a.btn.cms-versioning-action-btn.open {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

/* style for each option row */
ul.cms-actions-dropdown-menu-inner {
    margin: 0;
    padding: 0 !important;
    border-radius: 5px;
    background-color: #fff;
}

ul.cms-actions-dropdown-menu-inner li {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 6px;
    list-style-type: none;
}
ul.cms-actions-dropdown-menu-inner li:hover {
    border: 1px solid #ccc;
    background-color: #0bf;
}

a.cms-actions-dropdown-menu-item-anchor {
    display: block;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Explicitly defining anchor states to overwrite djangocms-admin styles! */
a.cms-actions-dropdown-menu-item-anchor,
a.cms-actions-dropdown-menu-item-anchor:visited,
a.cms-actions-dropdown-menu-item-anchor:link,
a.cms-actions-dropdown-menu-item-anchor:link:visited
{
    color: #666 !important;
}
a.cms-actions-dropdown-menu-item-anchor:hover,
a.cms-actions-dropdown-menu-item-anchor:active,
a.cms-actions-dropdown-menu-item-anchor:link:hover,
a.cms-actions-dropdown-menu-item-anchor:link:active
{
    color: #fff !important;
    background: #0bf;
}

/* set the size of the option icon */
a.cms-actions-dropdown-menu-item-anchor img {
    width: 20px;
    height: 20px;
}
/* align the option text with it's icon */
a.cms-actions-dropdown-menu-item-anchor span {
    line-height: 1rem;
    vertical-align: 20%;
    margin-left: 10px;
}
/* disable any inactive option */
a.cms-actions-dropdown-menu-item-anchor.inactive {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/* Finally center indicators in django changelist view */

.change-list table tbody td .cms-pagetree-node-state,
.change-list table tbody td .cms-pagetree-dropdown-trigger {
    vertical-align: middle;
}

.change-list table tbody .field-indicator,
.change-list table thead .column-indicator
 {
    text-align: center;
}

/* Bugfix for indicator menus when using djangocms-admin-style */
body.djangocms-admin-style .cms-pagetree-dropdown-menu a:link,
body.djangocms-admin-style .cms-pagetree-dropdown-menu a:visited,
body.djangocms-admin-style .cms-pagetree-dropdown-menu a:link:visited,
body.djangocms-admin-style .cms-pagetree-dropdown-menu a:link:hover {
    color: unset !important;
}
