a.btn.cms-versioning-action-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: -12px !important;
    position: relative;
    height: 34px;
    bottom: -6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a.btn.cms-versioning-action-btn img {
    width: 20px;
    height: 20px;
}
