{% extends "admin/change_list.html" %}
{% load static cms_static i18n %}

{% block breadcrumbs %}{% include breadcrumb_template %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    
    {# INFO: To avoid conflicts with adminstyle css we need to add styles here #}
    {# instead of inside "extrastyle" block or admin Media class. #}
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.pagetree.css' %}">
    
    {# INFO: versioning_static_url_prefix variable is used in versioning actions.js #}
    <script>
        let versioning_static_url_prefix = "{% static "djangocms_versioning/" %}";
    </script>
{% endblock extrahead %}
