{% load djangocms_versioning i18n cms_admin %}
{% with content_object=content_instance|default:original %}
    {% if content_object and not is_popup and not add %}
        <ul class="object-tools hide-in-modal">
            {% include "admin/djangocms_versioning/versioning_buttons.html" with original=content_object %}
            {% get_preview_url content_object as admin_url %}
            {% if admin_url %}
                <li><a href="{{ admin_url }}" class="viewsitelink js-close-sideframe" target="_parent">{% trans "Preview" %}</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endwith %}
