beautifulsoup4
coverage
django-classy-tags<2.0.0
django-sekizai<2.0.0
djangocms_helper
factory-boy
flake8
freezegun
isort
lxml
mock
pillow
pyflakes>=2.1.1
python-dateutil

# Unreleased django-cms 4.0 compatible packages
https://github.com/django-cms/django-cms/tarball/release/4.0.x#egg=django-cms
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
