setuptools
beautifulsoup4
coverage[toml]
dj-database-url
djangocms-admin-style
factory-boy
ruff
freezegun
lxml
mock
pillow
pyflakes>=2.1.1
pytest
pytest-django
python-dateutil
setuptools

djangocms-text
