{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block title %}{% trans "Revert Confirmation" %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <link rel="stylesheet" href="{% static 'djangocms_versioning/css/versioning.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block content %}
<p>
    {% trans "Reverting to this version may cause loss of an existing draft version. Please select an option to continue" %}
</p>
<h3>{{ object_name }}</h3>
<h4>{% blocktrans %}Version number: {{ version_number }}{% endblocktrans %}</h4>
<form action="" method="POST">
    {% csrf_token %}
    {% if draft_version %}
    <input  class="button revert-button confirm-link js-versioning-keep-sideframe"
            type="submit"
            name="discard"
            value="{% trans 'Discard existing draft and Revert' %}">
    <input  class="button revert-button confirm-link js-versioning-keep-sideframe"
            name="archive"
            type="submit"
            value="{% trans 'Archive existing draft and Revert' %}">
    {% else %}
    <input  class="button revert-button confirm-link js-versioning-keep-sideframe"
            type="submit"
            name="revert"
            value="{% trans 'Yes, I\'m sure' %}">
    {% endif %}
    <a href="{{ back_url }}">
        <input type="button"
               class="button js-versioning-keep-sideframe"
               value="{% trans 'No, take me back' %}">
    </a>
</form>
{% endblock %}
