{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block title %}{% trans "Revert Confirmation" %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <link rel="stylesheet" href="{% static 'djangocms_versioning/css/versioning.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block content %}
<p>{% trans "Are you sure you want to revert the following version?" %} </p>
<h2>{{ object_name }}</h2>

<form action="" method="POST">
    {% csrf_token %}
    {% if draft_exist %}
    <input  class="button revert-button confirm-link"
            type="submit"
            name="discard"
            value="{% trans 'Discard existing draft and Revert' %}">
    <input  class="button revert-button confirm-link"
            name="archive"
            type="submit"
            value="{% trans 'Archive existing draft and Revert' %}">
    {% else %}
    <input  class="button revert-button confirm-link"
            type="submit"
            name="revert"
            value="{% trans 'Yes, I\'m sure' %}">
    {% endif %}
    <a href="{{ back_url }}">
        <input type="button"
               class="button"
               value="{% trans 'No, take me back' %}">
    </a>
</form>
{% endblock %}
