{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
    <script type="text/javascript" src="{% static 'djangocms_versioning/js/admin/versioning.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block content %}
<h1>{% block title %}{% translate "Unpublish Confirmation" %}{% endblock %}</h1>
<p>{% translate "Unpublishing will remove this version from live. Are you sure you want to unpublish?" %}</p>
<h3>{{ object_name }}</h3>
<h4>{% blocktrans %} Version number: {{ version_number }}{% endblocktrans %}</h4>
<div>
    {% for thing in extra_context.values %}
        <p>{{thing}}</p>
    {% endfor %}
</div>
<form action="" method="POST" class="js-close-sideframe">
    {% csrf_token %}
    <div class="submit-row">
        <a href="{{ back_url }}" class="button cancel-link js-versioning-keep-sideframe" role="button" style="margin-inline-start: auto">
            {% translate 'No, take me back' %}
        </a>
        <input  class="button confirm-link default"
                type="submit"
                value="{% translate "Yes, I'm sure" %}">
    </div>
</form>
{% endblock %}
